mj-section(padding="0" mj-class="bgW")
    mj-column(padding="0" mj-class="bgW" width="100%")
        mj-text(padding="0" align="center") Economisez jusqu'à 25% sur les systèmes Mesh Orbi Pro WiFi 6 Mini AX1800
        mj-image(padding="0" align="center" width="700px" src="./images/illustration2.jpg" alt="")/
    mj-column(padding="0" mj-class="bgW" width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/sxk30.jpg" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center") AX1800 (SXK30) Jusqu'à 250 m2
        mj-text(padding="0" align="center") 299.99€ 224.99€
        mj-button J'en profite
    mj-column(padding="0" mj-class="bgW" width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/sxk30b3.jpg" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center") AX1800 (SXK30B3) Jusqu'à 375 m2
        mj-text(padding="0" align="center") 399.99€ 299.99€
        mj-button J'en profite
