mj-section(padding="0" mj-class="bgW")
    mj-column(padding="25px 35px" mj-class="bgB" width="100%")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" letter-spacing="2px") Economisez jusqu'à 25% sur les systèmes Mesh Orbi Pro WiFi 6 Mini AX1800
    mj-column(width="100%")
        mj-image(padding="0" align="center" width="700px" src="./images/illustration2.jpg" alt="")/
    mj-column(padding="10px" mj-class="bgW" width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/sxk30.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AX1800] (SXK30) Jusqu'à #[span(style="font-weight:700") 250 m#[sup(style="font-size:10px;line-height:0;font-weight:700") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 299.99€] #[span(style="font-weight:700;color:#00a3de;") 224.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
    mj-column(padding="10px" mj-class="bgW" width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/sxk30b3.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AX1800] (SXK30B3) Jusqu'à #[span(style="font-weight:700") 375 m#[sup(style="font-size:10px;line-height:0;font-weight:700") 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 399.99€] #[span(style="font-weight:700;color:#00a3de;") 299.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
