mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" padding="25px 35px" mj-class="bgT1")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" letter-spacing="2px") Economisez jusqu'à 35% sur cette sélection de produits
    mj-column(width="100%" padding="30px 60px 10px 60px" mj-class="bgW")
        mj-text(padding="0" align="center" mj-class="T26-500 cT1" letter-spacing="1px") Le meilleur WiFi, partout chez vous, en toute simplicité
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk752.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") WiFi 6 Tri-band #[span(style="font-weight:700") AX4200]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Jusqu'à #[span(style="font-weight:700") 350 m#[sup(style="font-size:10px;line-height:0;font-weight:700") 2]] (RBK752)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 499.99€] #[span(style="font-weight:700;color:#00a3de;") 379.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk753.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") WiFi 6 Tri-band #[span(style="font-weight:700") AX4200]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Jusqu'à #[span(style="font-weight:700") 525 m#[sup(style="font-size:10px;line-height:0;font-weight:700") 2]] (RBK753)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 699.99€] #[span(style="font-weight:700;color:#00a3de;") 559.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" background-color="#f1f0f0")
        mj-spacer(height="2px")/
    mj-column(width="100%" padding="30px 60px 10px 60px")
        mj-text(padding="0" align="center" mj-class="T26-500 cT1" letter-spacing="1px") Paramètrez votre WiFi comme vous le souhaitez
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/rax43.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Routeur Nighthawk WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AX4200] (RAX43)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 229.99€] #[span(style="font-weight:700;color:#00a3de;") 149.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/rax40.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Routeur Nighthawk WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AX3000] (RAX40)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 199.99€] #[span(style="font-weight:700;color:#00a3de;") 149.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" background-color="#f1f0f0")
        mj-spacer(height="2px")/
    mj-column(width="100%" padding="30px 60px 10px 60px")
        mj-text(padding="0" align="center" mj-class="T26-500 cT1" letter-spacing="1px") Etendez le WiFi de votre box
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/ex7700.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh Tri-band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AC2200] (EX7700)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 114.99€] #[span(style="font-weight:700;color:#00a3de;") 89.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/
    mj-column(width="50%" padding="10px" mj-class="bgW")
        mj-image(padding="0" align="center" width="275px" src="./images/ex7300.jpg" alt="")/
        mj-spacer(height="10px")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh Dual-band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="font-weight:700") AC2200] (EX7300)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="text-decoration:line-through;color:#ff0000;") 94.99€] #[span(style="font-weight:700;color:#00a3de;") 74.99€]
        mj-spacer(height="20px")/
        mj-button(mj-class="bgB") J'en profite
        mj-spacer(height="40px")/