mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%")
        mj-text(padding="0" align="center") Economisez jusqu'à 35% sur cette sélection de produits
    mj-column(width="100%")
        mj-text(padding="0" align="center") Le meilleur WiFi, partout chez vous, en toute simplicité
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk752.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") WiFi 6 Tri-band AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Jusqu'à 350 m2 (RBK752)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 499.99€ 379.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk753.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") WiFi 6 Tri-band AX4200
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Jusqu'à 525 m2 (RBK753)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 699.99€ 559.99€
        mj-button J'en profite
mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%")
        mj-text(padding="0" align="center") Paramètrez votre WiFi comme vous le souhaitez
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rax43.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Routeur Nighthawk WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AX4200 (RAX43)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 229.99€ 149.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rax40.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Routeur Nighthawk WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AX3000 (RAX40)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 199.99€ 149.99€
        mj-button J'en profite
mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%")
        mj-text(padding="0" align="center") Etendez le WiFi de votre box
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/ex7700.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh Tri-band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AC2200 (EX7700)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 114.99€ 89.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/ex7300.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh Dual-band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AC2200 (EX7300)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 94.99€ 74.99€
        mj-button J'en profite