mj-section
    mj-column 
        mj-text Bénéficiez de -10% supplémentaire sur une sélection* de Routeurs mobiles.
        mj-text Utilisez le CODE MOB10 à la validation.
    mj-column
        mj-text Pour disposer de votre WiFi personnel et sécurisé, en France comme à l'étranger
    mj-column
        mj-image(src="./images/mr1100.jpg" alt="")/
        mj-text Routeur Mobile 4G
        mj-text Gbit/s (MR1100)
        mj-text 309.99€ 279.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/ac810.jpg" alt="")/
        mj-text Hotspot Mobile 4G
        mj-text 600 Mbps (AC810)
        mj-text 219.99€
        mj-button J'en profite