mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%") 
        mj-text(padding="0" align="center") Bénéficiez de -10% supplémentaire sur une sélection* de Routeurs mobiles.
        mj-text(padding="0" align="center") Utilisez le CODE MOB10 à la validation.
    mj-column(width="100%")
        mj-text(padding="0" align="center") Pour disposer de votre WiFi personnel et sécurisé, en France comme à l'étranger
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/mr1100.jpg" alt="")/
        mj-text(padding="0" align="center") Routeur Mobile 4G
        mj-text(padding="0" align="center") Gbit/s (MR1100)
        mj-text(padding="0" align="center") 309.99€ 279.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/ac810.jpg" alt="")/
        mj-text(padding="0" align="center") Hotspot Mobile 4G
        mj-text(padding="0" align="center") 600 Mbps (AC810)
        mj-text(padding="0" align="center") 219.99€
        mj-button J'en profite